body {
    background-image: url(./background.webp);
}

#nav_bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 60px;
    padding-right: 60px;

    a {
        text-decoration: none;}
}

#botao_l_r {
    color: white;
}

#botao_l_r:hover {
    color: rgb(204, 115, 248);
}

#cx_central {
    background-color: rgba(255,255,255,0.7);
    width: 1000px;
    height: 700px;
    margin-left: 400px;
    margin-top: 50px;
    display: grid;
    place-items: center;
    border-radius: 10px;
}

#cx_central {
    background-color: rgba(255,255,255,0.7);
    width: 1000px;
    height: 700px;
    margin-left: 400px;
    margin-top: 50px;
    display: grid;
    place-items: center;
    
}
#cx_central h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Fascinate Inline", system-ui;
    font-style: normal;
    font-size: 40px;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    place-items: center;
}

#email_entr, #senha_entr {
    display: flex;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-top: 8px;
}
 #label {
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bold;
    
 }

 #botao_voltar {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(204, 115, 248);
    border-color: rgb(204, 115, 248);
    padding: 1px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 100px;
 }

 #botao_entrar {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgb(204, 115, 248);
    border-color: rgb(204, 115, 248);
    margin-top: 5px;
 }

 #botao_voltar:hover, #botao_entrar:hover {
    font-family: Tahoma;
    font-weight: bold;
    color: white;
    background-color: rgb(94, 39, 122);
    border-color: rgb(94, 39, 122);
    transition: all 0.5s;
 }

 #erro_email, #erro_senha {
    display:none;
    color: red;
    font-weight: bold;
}