body {
    background-image: url("./background.webp");

}

#nav_bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;

    button, a {
        font-family: Tahoma;
        font-weight: bold;
        width: 90px;
        height: 30px;
        border-radius: 10px;
        background-color: rgb(204, 115, 248);
        border-color: rgb(204, 115, 248);
        padding: 1px;

    }

    a {
        font-size: 13px;
        text-decoration: none;
        width: 80px;
        display: grid;
        place-items: center;
        color: black;
    }
 }