body {
    background-image: url("./background.webp");
}
#nav_bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 60px;
    padding-right: 60px;

    a {
        text-decoration: none;
    }
    
}

#cx_central {
    background-color: rgba(255,255,255,0.7);
    width: 1000px;
    height: 700px;
    margin-left: 400px;
    margin-top: 50px;
    display: grid;
    place-items: center;
    
}
#cx_central h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Fascinate Inline", system-ui;
    font-style: normal;
    font-size: 40px;
    padding-left: 5%;
    padding-right: 5%;
}


#email_entr, #senha_entr {
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
 #label {
    font-size: 30px;
    font-family: Tahoma;
    font-weight: bold;
    
 }

 #botao_voltar {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(204, 115, 248);
    border-color: rgb(204, 115, 248);
    padding: 1px;
    text-decoration: none;
    margin-top: 50px;
 }